body {
    background-color: #eee8de;
    font-family: serif;
}

header {
    
    background-color: #76a5af;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 5px;
}

aside {
    position: fixed;
    background-color: #99FF99;
    top: 110px;
    left: 0;
    width: 20%;
    bottom: 20px;
    padding: 10px;
}

.sub-header {
    background-color: #fce5cd;
    color: black;
    overflow-y: unset;
    top: 110px;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
}

section {
    
    background-color: #b6d7a8;
    top: 190px;
    width: 100%;
    bottom: 20px;
    padding: 10px;
    overflow-y: unset;
}
footer {
    position: fixed;
    background-color: black;
    color: white;
    left: 0;
    width: 100%;
    height: 45px;
    bottom: 0;
    text-align: center;
    text-height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    line-height: 90px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin-right: 40px;
}

.nav-menu-item {
    font-size: 22px;
    margin: 0 10px;
    line-height: 90px;
}

.menu-item {
    padding: 5px;
    background-color: green;
    border-radius: 10px;
}

.menu-item:hover {
    background-color: black;
}

.title {
    font: serif;
    font-size: large;
    text-height: font-size;
    color:white;
    text-align: left;
}

.main-button{

    text-decoration: none;
    font-weight: bold;
    color: white;

    padding: 20px;
    text-align: center;

}

.div-h3{
    padding: 15px;
}

.div-multiple{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.color-black{
    color: black;
}







